html{
    font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
    /*font-family: Cabin;*/
    color: #555;
    background-color: white;
}
a {
    color: #1b809e;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: #23530e;
}

p {

    font-size: 18px;
    margin: 0px;
}
.sideBar{
    /*border-left: 3px solid #1b809e;*/
    /*border-radius: 3px;*/
    padding-left: 10px;
    position: relative;
    /*height:30px;*/
    margin-top: 3%;
    border-left: 4px solid #1b809e;
}
.bullet{
    /*border-left: 3px solid #1b809e;*/
    /*border-radius: 3px;*/
    padding-left: 10px;
    position: relative;
    list-style-type:square;
    margin-top: 3%;
    border-left: 4px solid #1b809e;
}
h3{
    color:#1b809e;
}

    /*@media (min-width: 1200px) {*/
        /*.container {*/
            /*width: 1150px;*/
        /*}*/
    /*}*/
.titleColor{
    color: #1b809e;
}
.RobotoPanel{
    width:780px;
    border-color: #4CAF50!important;
    color: #000!important;
    background-color: #ffffff!important;"
}
li{
    margin-left:30px;
    margin-top:10px;
    font-family: Tahoma;
    font-weight: Bold;
    font-size:15px;
}
legend {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    color: #000;
    padding: 3px 6px;
}

.field { text-align: left;}
.red { color: #f00; }
.green { color: #0a0;}
/*.green { color: lightgoldenrodyellow;}*/
.btn-remove{
    background-color: darkred;
    color:white;
    margin-left:1%;
}
.padd6{
    padding-right: 10%;
    padding-left:10%;
}
.strategyContainer{
    width: 70%;
    min-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}
.btn-sbmt{
    color: #ffffff;
    background-color: #41a5c2;
    border-color: #1b809e;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}